<!-- Main Table -->
<p-card>
    <p-table
        #dt
        [value]="data"
        [columns]="headers"
        [loading]="loading"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20, 50]"
        [scrollable]="scrollable"
        [scrollHeight]="scrollHeight"
        [responsive]="responsive"
        [selectionMode]="showCheckbox ? 'multiple' : null"
        [(selection)]="selectedItems"
        (selectionChange)="onSelectionChange($event)"
        [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
        [showCurrentPageReport]="true"
    >
        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="showCheckbox" style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                @for (col of headers; track col) {
                    <th [style.width]="col.width" [pSortableColumn]="col.sortable ? col.field : undefined" class="text-center">
                        {{ col.label }}
                    </th>
                }
                <th *ngIf="showSpotsColumn" class="text-center">Spots</th>
                <th class="text-center" *ngIf="showActions || actions.length > 0">Actions</th>
            </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr [ngClass]="{ 'bg-light': row.showDetails }">
                <td *ngIf="showCheckbox">
                    <p-tableCheckbox [value]="row"></p-tableCheckbox>
                </td>

                <!-- Data Columns -->
                <td *ngFor="let col of headers" class="text-center">
                    <ng-container [ngSwitch]="col.type">
                        <!-- Image -->
                        <ng-container *ngSwitchCase="'image'">
                            <img *ngIf="row[col.field]" [src]="imgUrl + row[col.field]" alt="img" class="w-12 h-12 object-cover rounded-full inline-block" onerror="this.src='../../../assets/logo-new2-transperant.png'" />
                        </ng-container>

                        <!-- Date -->
                        <ng-container *ngSwitchCase="'date'">
                            {{ row[col.field] | date: 'medium' }}
                        </ng-container>

                        <!-- Custom Template -->
                        <ng-container *ngSwitchCase="'custom'">
                            <ng-container *ngTemplateOutlet="col.customTemplate; context: { $implicit: row }"></ng-container>
                        </ng-container>

                        <!-- Boolean -->
                        <ng-container *ngSwitchCase="'boolean'">
                            {{ col.field === 'isElite' ? (row[col.field] ? 'Elite super star' : 'Normal super star') : row[col.field] ? 'Yes' : 'No' }}
                        </ng-container>

                        <!-- Link -->
                        <ng-container *ngSwitchCase="'link'">
                            <a (click)="openFile(row[col.field])" [href]="row[col.field]" rel="noopener noreferrer" class="text-blue-500 hover:underline">
                                {{ row[col.field] }}
                            </a>
                        </ng-container>

                        <!-- Default -->
                        <ng-container *ngSwitchDefault>
                            {{ row[col.field] ? row[col.field] : '-' }}
                        </ng-container>
                    </ng-container>
                </td>

                <!-- Actions -->
                <td class="text-center" *ngIf="showActions || actions.length > 0">
                    <div class="flex justify-center gap-2">
                        <ng-container *ngIf="showActions">
                            <button *ngIf="showEditButton" pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-sm" (click)="onEdit(row)"></button>
                            <button *ngIf="showDeleteButton" pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="onDelete(row)"></button>

                            @if (isAddDetails) {
                                <button pButton icon="pi pi-plus" class="p-button-rounded p-button-info p-button-sm" (click)="onAddDetails(row)"></button>
                            }

                            @if (isShowDetails) {
                                <button pButton icon="pi pi-eye" class="p-button-rounded p-button-success p-button-sm" (click)="onViewDetails(row)"></button>
                            }
                        </ng-container>
                    </div>
                </td>
            </tr>

            <!-- Details Row -->
            <tr *ngIf="row.showDetails">
                <td [attr.colspan]="headers.length + (showCheckbox ? 1 : 0) + (showSpotsColumn ? 1 : 0) + (showActions || actions.length > 0 ? 1 : 0) + (isAddDetails || isShowDetails ? 1 : 0)">
                    <div class="p-3">
                        <ng-container *ngTemplateOutlet="detailsTemplate; context: { $implicit: row }"></ng-container>
                    </div>
                </td>
            </tr>
        </ng-template>

        <!-- Loading Template -->
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="100%" class="text-center">Loading... Please wait.</td>
            </tr>
        </ng-template>

        <!-- Empty Template -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="100%" class="text-center">
                    {{ emptyMessage }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
