<div class="col-12 mt-3">
  <label>{{ label }}</label>
  <div class="flex align-items-center">
    <input type="file" class="form-control" accept="image/*" (change)="onFileSelected($event)"
      [disabled]="disabled || isUploading" />
    @if (isUploading) {
    <i class="pi pi-spin pi-spinner text-2xl ml-2"></i>
    }
  </div>

  @if(previewUrl){
  <ng-container>
    <img [src]="previewUrl" alt="Preview" class="mt-2 img-thumbnail"
      style="width: 120px; height: 120px; object-fit: cover;" />
  </ng-container>
  }


  @else {
  <ng-template>
    <p class="text-muted mt-2">لا يوجد صورة</p>
  </ng-template>
  }
</div>